<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tsl.app">

    <application
        android:name="com.tsl.app.APP"
        android:allowBackup="true"
        android:icon="@mipmap/app_ic_launcher"
        android:label="${APP_NAME}"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Design.NoActionBar">
        <service
            android:name="com.tsl.app.service.HttpService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.tsl.app.activity.SplashActivity"
            android:theme="@style/SplashActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tsl.app.activity.set.SettingActivity"
            android:theme="@style/AnimationActivity" />
        <activity android:name="com.tsl.app.activity.bottomnavication.BottomNavicationActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name="com.jowney.common.sample.popup.CommonPopupActivity">

            <!--
           <intent-filter>
               <action android:name="android.intent.action.MAIN" />
               <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.tsl.app.activity.main.MainActivity"
            android:theme="@style/AnimationActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name="com.jowney.common.sample.CommonAnimationActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tsl.app.activity.bottomnavication.BottomNavicationActivity" />
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            tools:replace="screenOrientation"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <!-- <service
             android:name="com.jowney.common.accessibility.CommonAccessibilityService"
             android:enabled="true"
             android:label="@string/accessibility_label"
             android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
             android:process="com.jowney.monitor">
             <intent-filter>
                 <action android:name="android.accessibilityservice.AccessibilityService" />
             </intent-filter>

             <meta-data
                 android:name="android.accessibilityservice"
                 android:resource="@xml/accessibility_config" />
         </service>-->
    </application>

</manifest>